body{
    position: relative;
    min-height: 100vh;

}

footer{
    text-align: center;
    font-size: 1rem;
    position: absolute;
    padding: 15px;
    bottom: 0;
    width: 100%;
}
footer p a{
    color: blue;
}
footer p span{
    color: red;
}
